In [65]:
import pandas as pd
df = pd.read_csv("/Aicte Intership Dataset.csv")

In [66]:
df.shape

(2237, 12)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2237 entries, 0 to 2236
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2237 non-null   int64
 1   Job Title           2236 non-null   object
 2   Job Type            2236 non-null   object
 3   Company Name        2236 non-null   object
 4   Posted Date         2236 non-null   object
 5   Cities              2236 non-null   object
 6   States              2236 non-null   object
 7   Stipend             2236 non-null   object
 8   Start Date          2236 non-null   object
 9   Duration            2236 non-null   object
 10  Numer of Openings   2236 non-null   float64
 11  Late date to apply  2236 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 209.8+ KB

In [68]:
df.describe()

        Unnamed: 0  Numer of Openings
count  2237.000000        2236.000000
mean   1118.000000           3.660555
std     645.910598           8.645319
min       0.000000           1.000000
25%     559.000000           1.000000
50%    1118.000000           2.000000
75%    1677.000000           3.000000
max    2236.000000         200.000000

In [69]:
df.isnull().sum()

Unnamed: 0            0
Job Title             1
Job Type              1
Company Name          1
Posted Date           1
Cities                1
States                1
Stipend               1
Start Date            1
Duration              1
Numer of Openings     1
Late date to apply    1
dtype: int64

In [70]:
df.duplicated().sum()

np.int64(0)

In [71]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [72]:
# Categorical/Text columns
text_cols = ["Job Title","Job Type","Company Name","Posted Date","Cities","States",
             "Stipend","Start Date","Duration","Late date to apply"]

for col in text_cols:
    df[col] = df[col].fillna("Unknown")

# Numerical column
df["Numer of Openings"] = df["Numer of Openings"].fillna(df["Numer of Openings"].median())

In [73]:
df.isnull().sum()

Job Title             0
Job Type              0
Company Name          0
Posted Date           0
Cities                0
States                0
Stipend               0
Start Date            0
Duration              0
Numer of Openings     0
Late date to apply    0
dtype: int64

In [74]:
df.head()

,Job Title,Job Type,Company Name,Posted Date,Cities,States,Stipend,Start Date,Duration,Numer of Openings,Late date to apply
0,IT & E-GOVERNANCE,Full Time,"State Mission Management Unit, AMRUT Kerala",06-10-2023,Thiruvananthapuram,Kerala,10000 /month,Immediately,6 Months,1.0,12-11-2023
1,WATER AND USED WATER TREATMENT,Full Time,"State Mission Management Unit, AMRUT Kerala",06-10-2023,Thiruvananthapuram,Kerala,10000 /month,Immediately,6 Months,6.0,12-11-2023
2,MUNICIPAL FINANCE,Full Time,"State Mission Management Unit, AMRUT Kerala",16-10-2023,Thiruvananthapuram,Kerala,10000 /month,Immediately,6 Months,1.0,12-11-2023
3,CAPACITY BUILDING AND URBAN REFORMS,Full Time,"State Mission Management Unit, AMRUT Kerala",19-10-2023,Thiruvananthapuram,Kerala,10000 /month,Immediately,7 Months,1.0,12-11-2023
4,IT & E-GOVERNANCE INTERNS IN MSEVA PROJECT OF ...,Full Time,Punjab Municipal Infrastructure Development Co...,15-12-2023,Chandigarh,Punjab,12000 /month,Immediately,6 Months,2.0,13-01-2024

In [75]:
# Convert date columns
date_cols = ["Posted Date","Late date to apply"]
for col in date_cols:
    df[col] = pd.to_datetime(df[col], format="%d-%m-%Y", errors="coerce")

# Convert openings to integer
df["Numer of Openings"] = df["Numer of Openings"].astype(int)

In [76]:
df.head()

,Job Title,Job Type,Company Name,Posted Date,Cities,States,Stipend,Start Date,Duration,Numer of Openings,Late date to apply
0,IT & E-GOVERNANCE,Full Time,"State Mission Management Unit, AMRUT Kerala",2023-10-06,Thiruvananthapuram,Kerala,10000 /month,Immediately,6 Months,1,2023-11-12
1,WATER AND USED WATER TREATMENT,Full Time,"State Mission Management Unit, AMRUT Kerala",2023-10-06,Thiruvananthapuram,Kerala,10000 /month,Immediately,6 Months,6,2023-11-12
2,MUNICIPAL FINANCE,Full Time,"State Mission Management Unit, AMRUT Kerala",2023-10-16,Thiruvananthapuram,Kerala,10000 /month,Immediately,6 Months,1,2023-11-12
3,CAPACITY BUILDING AND URBAN REFORMS,Full Time,"State Mission Management Unit, AMRUT Kerala",2023-10-19,Thiruvananthapuram,Kerala,10000 /month,Immediately,7 Months,1,2023-11-12
4,IT & E-GOVERNANCE INTERNS IN MSEVA PROJECT OF ...,Full Time,Punjab Municipal Infrastructure Development Co...,2023-12-15,Chandigarh,Punjab,12000 /month,Immediately,6 Months,2,2024-01-13

In [77]:
df["Stipend_num"] = df["Stipend"].str.extract(r'(\d+)').astype(float)

In [78]:
df.head()

,Job Title,Job Type,Company Name,Posted Date,Cities,States,Stipend,Start Date,Duration,Numer of Openings,Late date to apply,Stipend_num
0,IT & E-GOVERNANCE,Full Time,"State Mission Management Unit, AMRUT Kerala",2023-10-06,Thiruvananthapuram,Kerala,10000 /month,Immediately,6 Months,1,2023-11-12,10000.0
1,WATER AND USED WATER TREATMENT,Full Time,"State Mission Management Unit, AMRUT Kerala",2023-10-06,Thiruvananthapuram,Kerala,10000 /month,Immediately,6 Months,6,2023-11-12,10000.0
2,MUNICIPAL FINANCE,Full Time,"State Mission Management Unit, AMRUT Kerala",2023-10-16,Thiruvananthapuram,Kerala,10000 /month,Immediately,6 Months,1,2023-11-12,10000.0
3,CAPACITY BUILDING AND URBAN REFORMS,Full Time,"State Mission Management Unit, AMRUT Kerala",2023-10-19,Thiruvananthapuram,Kerala,10000 /month,Immediately,7 Months,1,2023-11-12,10000.0
4,IT & E-GOVERNANCE INTERNS IN MSEVA PROJECT OF ...,Full Time,Punjab Municipal Infrastructure Development Co...,2023-12-15,Chandigarh,Punjab,12000 /month,Immediately,6 Months,2,2024-01-13,12000.0

In [79]:
# Convert openings to integer
#df["Stipend_num"] = df["Stipend_num"].astype(int)
df.drop("Stipend", axis=1, inplace=True)

In [80]:
df.isnull().sum()

Job Title                0
Job Type                 0
Company Name             0
Posted Date              1
Cities                   0
States                   0
Start Date               0
Duration                 0
Numer of Openings        0
Late date to apply       1
Stipend_num           1114
dtype: int64

In [81]:
df["Stipend_num"] = df["Stipend_num"].fillna(df["Stipend_num"].median())
# Categorical/Text columns
text_cols = ["Posted Date","Late date to apply"]

for col in text_cols:
    df[col] = df[col].fillna("Unknown")

In [82]:
df.isnull().sum()

Job Title             0
Job Type              0
Company Name          0
Posted Date           0
Cities                0
States                0
Start Date            0
Duration              0
Numer of Openings     0
Late date to apply    0
Stipend_num           0
dtype: int64

In [83]:
df.to_csv("final_cleaned_internships.csv", index=False)

In [84]:
from google.colab import files
files.download("final_cleaned_internships.csv")